body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: url('https://pin.it/QiOzBKJgm') no-repeat center center fixed;
    background-size: cover;
}

.container {
    text-align: center;
    max-width: 600px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: fadeIn 3s ease-in-out;
}

h1 {
    color: #ff69b4;
    margin-bottom: 10px;
}

p {
    color: #555;
    line-height: 1.6;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
